<mat-card class="camera-card">
  <mat-card-header>
    <mat-card-title class="card-title"><mat-icon class="card-icon-title">bug_report</mat-icon>Sav</mat-card-title>
    <mat-card-subtitle>Specific features reserved at Exavision</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="savCapability != null" class="display-flex flex-dir-col">

      <mat-checkbox (change)="onPollingStateChange($event)" [(ngModel)]="isPollingEnabled" >Polling state</mat-checkbox>

      <mat-form-field class="margin-4">
        <mat-label>TCP Messages</mat-label>
        <textarea #tcpMessagesCtrl class="tcp-messages" readonly matInput
                  cdkTextareaAutosize
                  [(ngModel)]="tcpMessages"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="20"
                  cdkAutosizeMaxRows="20"></textarea>
      </mat-form-field>
      <div class="display-flex flex-dir-row">
        <mat-form-field class="margin-4 flex-1">

          <mat-label>Send TCP Message</mat-label>
          <input matInput placeholder="Command to send" name="command-field" [(ngModel)]="tcpMessageToSend">
        </mat-form-field>
        <button (click)="onSendClick()" mat-button>Send</button>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="full-width" (click)="onCloseClick()" mat-button>Close</button>
  </mat-card-actions>
</mat-card>


