:host{
    position:relative;
    margin-top:4px;
    margin-bottom:4px;
}
.sliders-container
{
    position:relative;
    height:48px;
}
.slider-value {
  position: absolute;
  left:0px;
  right:0px;
}
.slider-edit {
  position: absolute;
  left: 0px;
  right: 0px;
}
.slider-label {
  position: absolute;
  top:-4px;
  left:0px;
}
