.title {
  font-family: "Expansivabold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  margin-top: 8px;
  user-select: none;
  line-height: 32px;
  margin-left: 8px;
}

.sub-title {
  font-family: "Expansivabold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px !important;
  margin: 0px;
  padding: 0px;
  user-select: none;
  line-height: 24px;
  height: 24px;
  font-style: italic;
  margin-left: 8px;
}
