.title {
  font-family: "Expansivabold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 30px !important;
  margin: 0px;
  padding: 0px;
  user-select: none; 
  margin-left: 8px;
  margin-bottom:0px;
  margin-top:auto;
}

.sub-title {
  font-family: "Expansivabold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 22px !important;
  margin: 0px;
  padding: 0px;
  user-select: none;
  font-style: italic;
  margin-left: 8px;
  margin-bottom: 0px;
  margin-top: auto;
}

.logo-small {
  width: 75px;
  height: 48px;
  background-image: url("/assets/logo-small.png");
  margin-bottom: 0px;
  margin-top: auto;
}
.user-info {

  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.select-unit-combo{
    width:200px;
}
.app-title-container {
  margin-bottom: 4px !important;
  margin-top: auto !important;
}

