.spacer
{
    flex:1;
}
.hud-column {
    width:200px;
    display:flex;
}
.lrf-info-label{
    color:white;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    min-height:20px;
    height:20px;

}
