<mat-card class="card-login">
  <mat-card-header>   
    <mat-card-title><mat-icon class="icon-title">face</mat-icon>Authentification</mat-card-title>
    <mat-card-subtitle>Please identify yourself</mat-card-subtitle>
  </mat-card-header>  
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input [disabled]="loginRunning" name="login" [(ngModel)]="login" matInput>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input [disabled]="loginRunning" name="password" [(ngModel)]="password" type="password" matInput>
      </mat-form-field>
    </form>
    <mat-error *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="loginRunning" class="full-width" (click)="onConnectButtonClick()" mat-button>Connect</button>

  </mat-card-actions>
</mat-card>

