.main-stream{
    position:absolute;
    left:0px;
    right:0px;
   
}
.stream-img-zoom {
  position: relative;
  transform: scale(2);
  user-select: none !important;
}

.stream-div-zoom {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,106,180, 0.6);
  position: absolute;
  overflow: hidden;
  user-select: none !important;
}

.main-stream-click-handler {
  z-index: 500;
  position: absolute;
  left: 0px;
  right: 0px;
}

