:host {
  user-select: none !important;
  margin: 8px;
  z-index: 200;
  width: 81px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
}

.continuous-mode-enabled {
  cursor: pointer;
  user-select: none !important;
  background-image: url("/assets/hud-lrf-continuous-off.png");
  width: 81px;
  height: 71px;
  background-color: transparent;
  border-width: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.continuous-mode-enabled:hover {
  background-image: url("/assets/hud-lrf-continuous-hover.png");
}

.continuous-mode-disabled {
  cursor: pointer;
  user-select: none !important;
  background-image: url("/assets/hud-button-off.png");
  width: 81px;
  height: 71px;
  background-color: transparent;
  border-width: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.continuous-mode-disabled:hover {
  background-image: url("/assets/hud-button-hover.png");
}
