:host{
    position:absolute;
    top:100px;
    left:100px;
    width:600px;
    height:600px;
    z-index:10000;
}
.camera-card {
  position:relative;
  width: 600px;
  height: 600px;
}
.tab-content-container {
  margin:16px;
  flex:1;
  display: flex;
  flex-direction: column;
}

.capability-container{
    margin-bottom:8px;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
  margin-left:8px;
  margin-right:8px;
}
