<mat-card class="camera-card">
  <mat-card-header>
    <mat-card-title class="card-title"><mat-icon class="card-icon-title">video_library</mat-icon>Medias library</mat-card-title>
    <mat-card-subtitle>Show or download medias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <table cdk-table [dataSource]="files">
      <!-- Position Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!--

        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef> Name </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container cdkColumnDef="weight">
          <th cdk-header-cell *cdkHeaderCellDef> Weight </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.weight}} </td>
        </ng-container>


        <ng-container cdkColumnDef="symbol">
          <th cdk-header-cell *cdkHeaderCellDef> Symbol </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
  -->
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

    </table>
   
  </mat-card-content>
  <mat-card-actions>
    <button class="full-width" (click)="onCloseClick()" mat-button>Close</button>
  </mat-card-actions>
</mat-card>


